/* Basic MS-DOS Theme */
body {
  background-color: black;
  color: lime;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  font-size: 16px;
  width: 80%;
  margin: auto;
  border: 1px solid #66ff66;
}

h1 {
  text-align: center;
}


ol {
  list-style-type: none;
}




nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly; 
  padding: 0;
  border-bottom: 1px solid #66ff66;
}




.clear-section {
  display: none;
}



#about_section {
  display: block;
}

.persistant-section {
  display: block;
}

section {
  margin-bottom: 5rem;
}


h2 {
  font-size: 20px;
  color: yellow;
}

.job-title {
  font-style: italic;
}


ul li {
  margin-bottom: 5px;
}


.footer {
  text-align: left;
  padding-top: 20px;
  color: #66ff66; /* Bright green text */
  font-family: 'Courier New', Courier, monospace;
}

.cmd-prompt {
  display: block;
}

/* This file should probably be cleaned up from
   this point down. Lots of potentially overlapping
   properties. */

.cmd-prompt span,
.cmd-prompt input,
.cmd-prompt p {
  display: inline-block; /* Aligns the elements side by side */
  font-size: 1rem;
}

.cmd-prompt input {
  outline: none;
  border: none;
  width: 0; /* Initial width is zero as the input expands */
  background-color: inherit;
  color: inherit;
  border: none;
  caret-color: transparent;
  font-family: 'Courier New', Courier, monospace;
}

.cmd-prompt p {
  position: relative;
  animation: blinker 1s linear infinite;
  border: none;
}

@keyframes blinker {
  51%,100% {
    opacity: 1;
  }
  0%,50% {
    opacity: 0;
  }
}

#cmd_out {
  border-top: 1px solid #66ff66;
  display: block;
  padding: 1rem;
  white-space: pre-wrap; /* Preserve white spaces and allow text to wrap */
  word-wrap: break-word; /* Ensure long words break properly */
  box-sizing: border-box; /* Include border in the elrement's total width/height */
}


.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}



.skills-list img {
  width: 150px;
  height: 150px;
  display: block;
 
}

.skill-label {
  display: block;
  text-align: center;
  margin-top: 1rem;
}




#contact_section {
  padding: 1rem 1rem;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

#contact_section input,
#contact_section button {
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem 1rem;
  border: 1px solid #66ff66;
  width: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#contact_section input {
  background-color: black;
  color: #66ff66
}

#contact_section button{
  color: black;
  background-color: #66ff66
}



#contact_section input:focus {
  border: 1px solid green;
}

#contact_section input {
  grid-row: 2;
}

#form-message {
  grid-row: 3;
  width: 80%;
}

#submit-contact {
  grid-row: 4;
  color: #66ff66;
}

#submit-contact:hover {
  background-color: green;
  border: 1px solid green;
}

#recaptcha-container {
  grid-row: 4;
}