/* Basic MS-DOS Theme */
body {
  background-color: black;
  color: lime;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}


.title {
  font-size: 24px;
  font-weight: bold;
}


main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section {
  margin-bottom: 20px;

}


h2 {
  font-size: 20px;
  color: yellow;
}

.job-title {
  font-style: italic;
}


ul li {
  margin-bottom: 5px;
}




/* Consider removing these two input entries.
   Not sure what they do, they seem useless.
 */
.input {
  background-color: inherit;
  color: inherit;
  border: none;
}
/* is this necessary? what does this do except clear defaults? */
.input:focus {
  outline: #66ff66;
  border: #66ff66;
}
/**/


.footer {
  text-align: left;
  padding-top: 20px;
  color: #66ff66; /* Bright green text */
}

.cmd-prompt {
  display: block;
}

.cmd-prompt span,
.cmd-prompt input,
.cmd-prompt p {
    display: inline-block; /* Aligns the elements side by side */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.cmd-prompt input {
  width: 0; /* Initial width is zero as the input expands */
}

.cmd-prompt p {
  position: relative;
  animation: blinker 1s linear infinite;
  border: none;
  padding-top: 2em;
}

@keyframes blinker {
  51%,100% {
    opacity: 1;
  }
  0%,50% {
    opacity: 0;
  }
}

#cmd_out {
  border: 1px solid #66ff66; /* Green border */
  margin-bottom: 2em;
  display: block;
  padding: 1em;
  white-space: pre-wrap; /* Preserve white spaces and allow text to wrap */
  word-wrap: break-word; /* Ensure long words break properly */
  box-sizing: border-box; /* Include border in the element's total width/height */
}
