/* Basic MS-DOS Theme */
:root {
  --background_color: #081b2e;
  --accent_color: #b8cabf;
  --text_color: #f5ffca;
  --error_color: #ef0000;
  --success_color: #00ff25;
  --body_font: Open Sans, monospace;
  --title_font: 'Sans Serif', 'Serif';
  --line-thickness: 3px;
}

body {
  background-color: var(--background_color);
  color: var(--accent_color);
  font-family: var(--body_font);
  width: 80vw;
  margin: auto;
}


main {
  margin-top: 10vh;
  margin-bottom: 10vh;
  overflow: hidden;
  border: var(--line-thickness) solid var(--accent_color);
}




header {
  border: var(--line-thickness) solid var(--accent_color);
  display: block;
  word-wrap: break-word;
  box-sizing: border-box;
  position: fixed; /* Make it fixed at the bottom */
  top: 0; /* Align it to the bottom of the screen */
  width: inherit; /* Ensure it spans the width of the screen */
  background-color: var(--background_color); /* Match the background */
  color: var(--accent_color); /* Text color */
  z-index: 9999; /* Ensure it appears above other content */
}



.input {
  font-family: var(--body_font);
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--text_color);
}


ol {
  list-style-type: none;
}




nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly; 
  padding: 0;
  margin: 0;
}




#about_section {
  display: block;
}

.clear-section {
  display: none;
}

section {
  margin-bottom: 5rem;
}


h2 {
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--text_color);
}

.job-title {
  font-style: italic;
}



.footer {
  color: var(--accent_color); /* Bright green text */
  font-family: var(--body_font);
}

.cmd-prompt {
  display: block;
}

/*
/* This file should probably be cleaned up from
   this point down. Lots of potentially overlapping
   properties. */

.cmd-prompt span,
.cmd-prompt input,
.cmd-prompt p {
  display: inline-block; /* Aligns the elements side by side */
  font-size: 1rem;
}

.cmd-prompt input {
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
  border: none;
  caret-color: transparent;
  font-family: var(--body_font);
}

.cmd-prompt p {
  position: relative;
  animation: blinker 1s linear infinite;
  border: none;
}

@keyframes blinker {
  51%,100% {
    opacity: 1;
  }
  0%,50% {
    opacity: 0;
  }
}

#cmd_out {
  display: block;
  white-space: pre-wrap; /* Preserve white spaces and allow text to wrap */
  word-wrap: break-word; /* Ensure long words break properly */
  box-sizing: border-box; /* Include border in the element's total width/height */
}

.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  padding-left: 0;

}

.skills-list img {
  width: 150px;
  height: 150px;
 
 
}

.skill-label {
  display: block;
  text-align: center;
}

.skill-item {
  padding: 1rem;
}


#contact_section input, #contact_section textarea {
  display: block;
  background-color: var(--background_color);
  color: var(--accent_color);
  border: 1px solid var(--accent_color);
}

#contact_section button, 
#contact_section a {
  color: var(--background_color);
  background-color: var(--accent_color);
}

#contact-response {
  visibility: hidden;
  text-align: center;
}

.fade-out {
  opacity: 0;
  transition: opacity ease-out 1.5s;
  transition-delay: 1s;
}

.contact-error {
  color: var(--error_color);
}

#contact_section input.contact-error, #contact_section textarea.contact-error {
  border: 1px solid var(--error_color) !important;
}

.contact-success {
  color: var(--success_color) !important;
}

.contact-success input, .contact-success textarea {
  border: 1px solid var(--success_color) !important;
}

footer {
  display: block;
  word-wrap: break-word;
  box-sizing: border-box;
  position: fixed; /* Make it fixed at the bottom */
  bottom: 0; /* Align it to the bottom of the screen */
  width: inherit; /* Ensure it spans the width of the screen */
  background-color: var(--background_color); /* Match the background */
  color: var(--accent_color); /* Text color */
  z-index: 9999; /* Ensure it appears above other content */
}






/*

#contact_section {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

#contact_section input,
#contact_section button {
  font-family: var(--body_font);
  border: 3px solid var(--accent_color);
  width: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#contact_section input {
  background-color: var(--background_color);
  color: var(--accent_color)
}

#contact_section button, a {
  color: var(--background_color);
  background-color: var(--accent_color)
}



#contact_section input:focus {
  border: 3px solid green;
}

#contact_section input {
  grid-row: 2;
}

#form-message {
  grid-row: 3;
  width: 80%;
  display: block;
  align-self: flex-end;
}

#submit-contact {
  grid-row: 4;
  color: var(--accent_color);
}

#submit-contact:hover {
  background-color: green;
  border: 3px solid green;
}

#recaptcha-container {
  grid-row: 4;
}
*/






















