
.cmd-prompt {
    display: block;
  }
  
  /*
  /* This file should probably be cleaned up from
     this point down. Lots of potentially overlapping
     properties. */
  
  .cmd-prompt span,
  .cmd-prompt input,
  .cmd-prompt p {
    display: inline-block; /* Aligns the elements side by side */
    font-size: 1rem;
  }
  
  .cmd-prompt input {
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    border: none;
    caret-color: transparent;
    font-family: var(--body_font);
  }
  
  .cmd-prompt p {
    position: relative;
    animation: blinker 1s linear infinite;
    border: none;
  }
  
  @keyframes blinker {
    51%,100% {
      opacity: 1;
    }
    0%,50% {
      opacity: 0;
    }
  }
  
  #cmd_out {
    display: block;
    white-space: pre-wrap; /* Preserve white spaces and allow text to wrap */
    word-wrap: break-word; /* Ensure long words break properly */
    box-sizing: border-box; /* Include border in the element's total width/height */
  }
  